<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  <div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="">home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="aboutus">about</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="privacy">privacy</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="entertainment">entertainment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="technology">technology</a>
    </li>
    <!--
    <li class="nav-item">
      <a class="nav-link" routerLink="user">user</a>
    </li>-->
    <li class="nav-item">
      <a class="nav-link" routerLink="sports">sports</a>
    </li>
  </ul>
</div>
<router-outlet></router-outlet>
<div class="container" style="width:100%;height:auto;border:1px solid black;margin-bottom:5px">
  <h1><i>sports news</i></h1>
  <app-sports></app-sports>
</div>
<div class="container" style="width:100%;height:auto;border:1px solid black;margin-bottom:5px">
  <h1><i>technology news</i></h1>
  <app-technology></app-technology>
</div>
<div class="container" style="width:100%;height:auto;border:1px solid black;margin-bottom:5px">
  <h1><i>entertainment</i></h1>
  <app-entertainment></app-entertainment>
</div>
<br>
<!--
<div class="container">
<a routerLink="user/10">User10</a><br>
<a routerLink="user/20">User20</a><br>
<a routerLink="user/30">User30</a><br>
<a routerLink="user/40">User40</a><br>
</div>
-->
  <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>